@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-controller="pokemon" asp-action="log" method="post">
    <input type="text" name="userName" value="" /> 
    <input type="text" name="clave" value="" />
    <button type="submit">Enviar</button>
</form>